@charset "utf-8";
/* CSS Document */
*{list-style:none; }
body{width:auto; height:100%;}
.mobil_button{}
.header{ width:100%; height:41px;background:#e65210; position:fixed; z-index:100; top:0; left:0;}
.logo{ position:absolute; display:block; margin-top:9px; margin-left:18px;}
.login{position:absolute; top:11px; right:22px; font-size:12px;color:#fff; height:20px; line-height:20px;}
.login b{position:absolute; display:inline-block; top:0; right:30px;}
.menu{ width:100%;height:80px; border-bottom:2px solid #d0bfb7; top:41px; padding-top:12px; left:0; background:#fff; z-index:10;}
.nav_lst{ width:100%; height:68px; margin:0 auto;}
.nav_lst a{ display:block; width:50px; overflow:hidden; margin:0 auto; height:68px; color:#333; font-size:12px; text-decoration:none;}
.nav_lst a p{ width:50px; text-align:center;margin-top:0px;}
.nav_lst span{display:inline-block; width:20%;height:68px; overflow:hidden; float:left; text-align:center;}



.product_wrap{width:100%;overflow:hidden; background:#f4f4f4; padding-top:0px;margin-bottom:50px;}
#product_lst{padding-left:0px;}
#product_lst li{ min-height:57px; border-bottom:1px solid #d5d5d5; padding:12px 0;}
#product_lst li a{ display:block;width:96%; min-height:57px;}
.shop_logo{ margin:0px 10px; width:56px; height:56px; float:left; position:relative;}
.lst_logo{ width:56px; height:56px; border-radius:28px; border:1px solid #e1e1e1;}
.shop_logo b{ display:block; position:absolute; left:0; top:-12px;}
.home_text{ float:left; line-height:20px;}
.home_text h2{ color:#333; font-size:14px;margin-bottom:0px;}
.home_text p{ color:#8c8c8c;font-size:12px;margin-top:0px;margin-bottom:0px;}
.shop_statu{float:right; margin-top:20px;}
.shop_statu .open{color:#409815;}
.shop_statu .close{color:#999999;}
.footer{ width:100%; height:43px;background:#4b4b4b; position:fixed; z-index:10; bottom:0; left:0;}
.footer li{ width:50%; height:43px; float:left; display:inline-block;}
.footer li a{ width:40px; height:39px; margin:0 auto; display:block; color:#fff; text-align:center;}
.footer li p{width:40px; color:#fff;margin-top:0px;font-size:12px;}

.shop_wrap{width:100%;height:100%;overflow:hidden;}
.menu_shop{padding-left:23px;padding-top:3px;font-size:14px;height:30px; border-bottom:1px solid #d0bfb7;background:#fff;z-index:10;background:url("../images/tag_voice.gif") no-repeat scroll 10px center #fff1e8}
.menu_shop a{color:#333}
.menu_shop a:hover{color:#333}
.shop_left{float:left;border:0px solid #ccc;padding:0px; background:#f4f4f4;height:100%}
.shop_left ul{margin:0px;padding:0px}
.shop_left li{width:100%;text-align:left;border-bottom:1px solid #ccc;padding:10px 0px 10px 10px;height:auto;word-wrap:break-word;font-size:14px;position:relative;}
.foodlist_num{width:20px; height:20px; background:#ff6900; border-radius:50%; display:none; position:absolute; top:0; right:0; line-height:20px; text-align:center; color:#fff;}
.shop_right{margin:0px;padding:0px 0px 43px;border-left:1px solid #ccc;}
.shop_right ul{padding-left:0px;}
.shop_right ul li{border-bottom:1px solid #ccc;height:auto;padding:5px 0px 5px 20px;;float:left;display:block;width:100%;font-size:14px;}
.shop_text h2{display:inline;color:#333; font-size:14px;margin-bottom:0px;height:30px;line-height:30px;margin-bottom:0px;}
.operate{float:right;width:100px;text-align:right;margin-right:5px;}
.jia{width: 20px; font-size:14px;color:#FFFFFF;font-weight:bold;height: 20px;line-height:20px;background:#ff6900; padding:6px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.jian{width: 20px; font-size:14px;color:#FFFFFF;font-weight:bold;height: 20px;line-height:20px;background:#aaaaaa; padding:6px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.operate a{height:30px;line-height:30px;width:30px;padding:6px;margin-bottom:0px;}
.operate a:hover{color:#FFFFFF;}
.operate a:link{color:#FFFFFF;}
.operate input{width:20px;text-align:center;border:1px solid #ccc}
.price{margin-left:5px;font-size:14px;color:#ff6600}
.cart{color:#fff;margin-top:8px;}
.cart span{margin-left:5px;}
.cart span font{color:#fc8200;font-weight:bold}
#cart_l,#cart_r{display:inline;}
#sub_order{float:right;margin-right:10px;background:#e65210;color:#ffffff;padding:6px 6px 4px 8px;font-size:12px;letter-spacing:2px;border:0px;}
#sub_order_disable{float:right;margin-right:10px;background:#999999;color:#ffffff;padding:6px 6px 4px 8px;font-size:12px;letter-spacing:2px;border:0px;}
.food_num,.jian{display:none}
.navlist_fixed{position:fixed !important; top:0px;}

.detail_wrap{width:100%;height:100%;overflow:hidden;padding-bottom:80px;}
.detail_wrap ul{margin:0px;padding:0px;}
.detail_wrap li{text-align:left;height:40px;line-height:40px;font-size:14px;border-bottom:1px solid #dedede;}
.detail_til{font-weight:bold;background:#ededed;border-bottom:1px solid #ccc;}
#add_address{margin:7px 0px;background:#fff;color:#e65210;padding:6px 10px 4px 12px;font-size:12px;letter-spacing:2px;border:1px solid #e65210;}
.detail_b{text-align:right;padding-right:20px;}
.detail_b b{color:#e65210}
.detail_c{margin-top:20px}
.detail_submit{background:#e65210;color:#fff;font-weight:bold;letter-spacing:5px;text-align:center}
.detail_a span{padding:0px 5px;color:#ff0000;width:5px;}
.success_tips{font-size:14px;color:#999}
.success_a{margin:30px 0px 30px 0px;text-align:center;vertical-align: middle;}
.success_b{display:block;width:96%;background:#e65210;color:#ffffff;font-size:14px;letter-spacing:2px;height:40px;line-height:40px;text-align:center;margin:0 auto;margin-top:40px}

.login_tab{margin:20px 20px;}
.login_tab input{width:100%;height:40px;line-height:40px;}
#login_submit{width:100%;background:#e65210;color:#ffffff;border:0px;border-radius:5px}
.mreg1,.mreg2,.mreg3{padding:0px;}
.mreg2{margin:0 auto;text-align:center;}
.mreg2 img{border:1px solid #ccc;}
.mreg3{height:40px;line-height:40px;border:1px solid #ccc;background-color:#fff;text-align:center;}
.mreg3 a{color:#e65210;cursor:pointer}
.mreg3 a:hover{color:#e65210}
.mreg3 a:link{color:#e65210;}
/* 免配送费插件*/
.home_text span{float:left;margin-right:10px;}
.home_text .mian{background: url("../../images/icon.png") no-repeat scroll -75px -100px rgba(0, 0, 0, 0);display: block;float: left;height: 15px;margin: 2px 5px 0 0;width: 15px;}



