@charset "utf-8";
/* CSS Document */
body{ background:#f2f2f2;color:#333;font-family:'微软雅黑','宋体';font-size:12px;}
html,div,ul,li,a,span,input,button,em,h1,h2,h3,h4,strong,dl,dd,dt,img,p,body{margin:0;padding:0; list-style:none; border:0;font-size:12px;}
a{color:#333;text-decoration:none;}
a:hover{color:#ff6600;text-decoration:none;}
.l{float:left;}
.r{float:right;}
.w1000{width:1000px;overflow:hidden;margin:0 auto;}
.w980{width:980px;overflow:hidden;margin:0 auto;}
.w950{width:950px;overflow:hidden;margin:0 auto;}
.w_cnt{width:998px; overflow:hidden; background:#fff; border:1px solid #ededed; margin:0 auto;}
.product{width:1000px; overflow:hidden; margin:0 auto;}

/*最顶部*/
.topest{background:#fdfdfd;width:100%;height:26px; line-height:26px;border-bottom:1px solid #ededed;color:#999;}
.topest a{color:#999;}
.topest a:hover{color:#ff6600;}
.top_l{width:400px;height:26px; line-height:26px;color:#999;}
.top_l a{ display:inline-block;margin-right:22px;}
.mobile{padding-left:15px; position:relative;}
.mobile b{width:9px;height:14px; background:url(../images/icon.png) -40px 0 no-repeat; display:block; position:absolute; top:5px; left:0;}
.collect{padding-left:17px; position:relative;}
.collect b{width:12px;height:12px; background:url(../images/icon.png) -40px -15px no-repeat; display:block;position:absolute; top:5px;left:0;}
.short_line{ display:inline-block;margin:0 5px;}
.top_r span{margin:0 5px};
a.red{color:#ff6600;}
a.red:hover{ text-decoration:underline;}
/*head*/
.head{padding:16px 0 0px 0;}
.logo{width:181px; height:75px; border-right:1px solid #dddddd; margin-right:25px;}
.city{width:100px;padding-top:20px;height:55px;}
.city_now{width:80px; height:22px; line-height:22px;padding-left:20px;font-size:14px; position:relative;margin-bottom:10px;}
.city_now b{width:11px;height:15px; display:block; background:url(../images/icon.png) -40px -28px no-repeat; position:absolute;left:0;top:0;}
.qh_chs{display:block;color:#ff8400; cursor:pointer;}
.search{width:482px;height:80px;margin-top:18px; overflow:hidden;}
.search_l{width:362px; height:38px;}
.search_l input{border:2px solid #fb5e41; border-right:0;width:350px; height:14px; padding:10px 10px 10px 15px; background:#fff;}
.search_btn{width:67px; height:38px;}
.search_btn button{width:67px; height:38px; background:#fb5e41; text-align:center; color:#fff; font-size:18px;cursor:pointer; letter-spacing:3px;}
.search_btn strong{font-size:16px;}
.shop_sure{margin-top:4px; background:url(../images/icon.png) 0 -300px no-repeat;width:211px;height:56px;}
/*nav_main*/
.nav_main{width:100%;height:41px; background:#f74322; margin-bottom:15px;}
.nav_in{width:895px; height:41px; overflow:hidden;}
.nav_in li{height:41px; overflow:hidden; float:left; line-height:41px;}
.nav_in li a{ display:block;padding:0 25px;color:#fff; font-size:16px;}
.nav_in li a:hover,.nav_in li a.current{ background:#d5251e;}
.view_last{width:103px; border-left:1px solid #f17b44;border-right:1px solid #f17b44;height:41px; display:block; text-align:center; line-height:41px;color:#fff; font-size:14px;}
.view_last:hover{ text-decoration:underline; color:#fff;}

/*foot*/
.foot_white{width:100%; height:43px; background:#fff;}
.foot{width:100%;border-top:2px solid #ccc;overflow:hidden; background:#fff;margin-top:15px;}
.foot a{color:#999;font-family:'宋体';}
.foot a:hover{color:#ff6600;}
.footWrap1{margin-bottom:10px;padding-top:20px;}
.foot_tel{margin:40px 54px 0 6px;overflow:hidden;}
.foot_modle{width:506px;overflow:hidden;margin-top:22px;}
.foot_modle .modle_item{width:122px;overflow:hidden;float:left;}
.foot_modle .modle_item li{line-height:25px;}
.foot_modle h3{font-size:14px;font-weight:bold;color:#3e4545;}
.foot_weixin{margin-top:22px;}
.link_to_other{border-bottom:1px solid #ccc;width:980px;height:25px;overflow:hidden;}
.link_to_other a{ display:inline-block;margin:0 10px;float:left;}
.link_to_other span{ display:inline-block;float:left;color:#999;font-family:'宋体';}
.foot_copy{height:46px;line-height:46px; text-align:center;font-family:'宋体';color:#999;}

.member_cnt{margin-top:22px;overflow:hidden;}
/*member_title*/
.member_title{width:920px;height:40px;border-bottom:2px solid #ff6600;line-height:40px;padding-left:30px;background:url(../images/boxTitle_bg.png) 20px center no-repeat;margin-bottom:20px;font-weight:normal;}
.member_btm{width:980px;overflow:hidden;}
/*area*/
.dis_area{padding-left:20px;border-bottom:2px solid #ff6600;width:960px;background:url("../images/boxTitle_bg.png") no-repeat scroll 8px center rgba(0, 0, 0, 0)}
.dis_area_div{height:650px;}


/*food_img 浮层*/
#bg{display:none;position:fixed;top:0%;left:0%;width:100%;height:100%;background-color: black;z-index:1001;  -moz-opacity: 0.7;  opacity:.70;  filter:alpha(opacity=70);}
#show_img_div{display:none;position:fixed;top:25%;left:50%;width:320px;height:240px;margin-left:-165px;border:5px solid #999;background-color:white;z-index:1002;overflow: auto;}
#show_img_div img{width:320px;height:240px;}
#show_img_div a{cursor:pointer;width:40px;height:40px;background:url(../images/closeBtn.gif) center center no-repeat;position:absolute;display:block;right:5px;top:5px; z-index:10001;}

/*login 浮层*/
#show_login_div{display:none;position:fixed;top:25%;left:50%;width:460px;height:270px;margin-left:-230px;border:5px solid #999;background-color:white;z-index:1002;overflow: auto;}
.login_header{padding:9px 15px;background-color:#e94b36}
.login_header h3{font-size:16px;line-height:30px;margin:0;color:#fff;}
.login_close{margin-top:2px;padding:0;border:0 none;background:none;cursor:pointer;float:right;color:#fff;font-size:20px;line-height:20px;font-weight:bold;}
.login_body{height:125px;position:relative;padding:0px 30px 60px 30px; width:400px; overflow:hidden;}
.f_login_item{height:45px;}
.f_login_span{width:120px;overflow:hidden;height:35px;line-height:35px;display:block; text-align:right;margin-right:0px;}
.f_login_item input{border:1px solid #ccc;width:190px;height:28px;border:1px solid #ccc;padding-left:8px;line-height:34px;}
.f_login_item button{border-radius:2px;width:110px;height:35px;line-height:35px; text-align:center;color:#fff; cursor:pointer;background:#e94b36;}
.f_login_reg{ width:460px;color:#ff6600;background:#f5f5f5;height:35px;line-height:35px;border-top:2px solid #ddd;box-shadow:0 1px 0 #fff inset; overflow:hidden;}
.f_login_reg a{padding-left:15px;font-size:12px;color:#000}
.lg_prompt{color:#666;padding-top:10px;width:250px;height:30px;line-height:30px;display:block;margin-right:18px;}

/* ie6 */
body{width:100%; height:100%;}
#show_login_div{ overflow:hidden;}
#show_img_div,#show_login_div,#bg{ position:fixed !important; position:absolute;}
#bg{ background:#000;top:0px; left:0px; width:100%; height:100%;_height:3000px;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
#show_food_pic{ position:absolute; z-index:1010; width:320px; height:240px; overflow:hidden;}
#show_img_div .d_closeBtn img{width:40px; height:40px;}








