/*成功 | 错误 提示*/
.Prompt_top, .Prompt_btm, .Prompt_ok, .Prompt_x { background:url(../images/message.gif) no-repeat; display:inline-block }
.Prompt { width:640px; margin:100px auto 180px; text-align:left; }
.Prompt h2 {}
.Prompt p {color:#333333}
.Prompt_top { background-position:0 0; height:15px; width:100%; }
.Prompt_con { border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; background:#fff}
.Prompt_btm { background-position:0 -27px; height:6px; width:100%; overflow:hidden; }
.Prompt_con dl { margin:0 30px; overflow:hidden;}
.Prompt_con dt { font-size:18px; padding:15px 0; border-bottom:1px solid #EEEEEE; font-weight: bold;_height:20px;}
.Prompt_con dd { margin:0px;float:left; display:block; padding:15px; font-family:Arial,Helvetica,sans-serif,"宋体" }
.Prompt_con dd h2 { font-size:14px; line-height:20px;font-weight:normal;color:#333333}
.Prompt_con dd p { font-size:12px;}
.Prompt_ok { background-position:-72px -39px; width:68px; height:68px; }
.Prompt_x { background-position:0 -39px; width:68px; height:68px; }
