<html>
<head>
<meta charset="utf-8">
<title>添加商品_商品管理_91批购系统管理</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<style type="text/css">
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/module.css" />
<script type="text/javascript" src="js/jquery.min.js"/></script>
<script type="text/javascript" src="js/bootstrap.min.js"/></script>
<link rel="stylesheet" href="css/default.css" />
<script charset="utf-8" src="js/kindeditor-all-min.js"></script>
<script charset="utf-8" src="js/zh-CN.js"></script>
<script type="text/javascript" src="js/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/uploadify.css" />
<style>
#result h3 {font-size: 18px;}
.error {float: left;color: #b94a48;font-weight: normal;}
.hidden-text {border-color: #ffffff;width: 0;height: 0;padding: 0;margin: 0;border-radius: 0;display: inline;}
.images_vcl .btn-danger{position: relative; overflow: hidden; margin-right: 10px;}
.images_vcl .btn-danger input[type="file"]{position: absolute; left:0; top:0; cursor:pointer; line-height: 999px; opacity: 0}
.images_vcl input:focus{outline: none}
.images_vcl .form-control:focus{border-color:#ccc; -webkit-box-shadow:none; box-shadow: none;}
.nav{background-color:#5bc0de;}
.nav li a{color:#ffffff;}
.nav li a:hover,.nav li a:focus{background-color:#ffffff;color:#555;border-bottom: -1px;}
#regionCell .close {display: block; position: absolute; top:-8px; left: 65px;}
.nete_p{padding:0 10px 10px 10px;float: left;}
.badge {position:relative;padding: 10px 10px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align:center;white-space: nowrap;background-color: #d9534f;border-radius: 10px;}
.badge span{position:absolute; right:-8px; top:-8px; cursor:pointer; font-size:5px; display:block;padding: 5px 5px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;background-color: #d9534f;border-radius: 10px;}

</style>
</head>
<body>
	<div id="main">
      <div id="crumbs" ng-component="common/crumb/crumb" class="ng-scope">
        <ol class="breadcrumb ng-scope" ng-controller="crumbCtrl">
        	<li class="bcfirst"><i class="glyphicon glyphicon-map-marker"></i> 当前位置：</li>
        	<li ng-repeat="crumb in crumbs" ng-class="{active: $last}" class="ng-scope"><span ng-if="$first" class="active ng-binding ng-scope">商品管理</span>
        	</li><li ng-repeat="crumb in crumbs" ng-class="{active: $last}" class="ng-scope active"><span ng-if="$last" class="ng-binding ng-scope">添加商品</span>
        	</li>
        </ol>
      </div>
      <div ui-view="" class="ng-scope">
        <div ui-view="" class="ng-scope">
            <div ng-component="modules/coupon/addCoupon" class="ng-scope">
                <div ng-controller="addCouponCtrl" class="ng-scope">
                    <div class="panel panel-default">
                         <ul class="nav nav-tabs" role="tablist" style="">
                          <li role="presentation" class="active"><a href="#">商品信息</a></li>
                          <li role="presentation"><a href="#">商品描述</a></li>
                          <li role="presentation"><a href="#">商品相册</a></li>
                          <li role="presentation"><a href="#">配送范围</a></li>
                        </ul>
                        <form id="category" class="form-horizontal ng-invalid ng-invalid-required ng-dirty ng-valid-pattern" role="form">
                        <div class="panel-body pt30">
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">商品名称：</label>
                                    <div class="col-md-3">
                                        <input type="text" value="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="商品名称" name="goods_name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">商品类型：</label>
                                    <div class="col-sm-2">
                                        <select name="cat_id" class="form-control">
                                            <option value="0">请选择分类</option>
                                            <option value="1" >蔬菜水果</option><option value="2" >&nbsp;&nbsp;&nbsp;&nbsp;叶菜类</option><option value="3" >&nbsp;&nbsp;&nbsp;&nbsp;根茎类</option><option value="4" >&nbsp;&nbsp;&nbsp;&nbsp;葱姜蒜</option><option value="5" >&nbsp;&nbsp;&nbsp;&nbsp;豆类</option><option value="6" >&nbsp;&nbsp;&nbsp;&nbsp;茄果类</option><option value="7" >粮油副食</option><option value="8" >&nbsp;&nbsp;&nbsp;&nbsp;米类</option><option value="9" >&nbsp;&nbsp;&nbsp;&nbsp;面类</option>                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">商品单价：</label>
                                    <div class="col-lg-3">
                                        <div class="input-group">
                                          <input type="text" placeholder="商品单价" class="form-control" name="goods_price" value="" aria-label="...">
                                          <div class="input-group-btn">
                                            <button type="button" goods_unit="两" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="changeGoodsUnit" aria-expanded="false">元/两<span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                              <li><a href="javascript:;">元/两</a></li>
                                              <li><a href="javascript:;">元/斤</a></li>
                                              <li><a href="javascript:;">元/把</a></li>
                                              <li><a href="javascript:;">元/卷</a></li>
                                              <li><a href="javascript:;">元/桶</a></li>
                                              <li><a href="javascript:;">元/瓶</a></li>
                                              <li><a href="javascript:;">元/袋</a></li>
                                              <li><a href="javascript:;">元/箱</a></li>
                                              <li><a href="javascript:;">元/件</a></li>
                                            </ul>
                                          </div><!-- /btn-group -->
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">商品组合：</label>
                                    <div class="col-md-4">
                                        <div class="radio">
                                          <label>
                                              <input type="radio" name="is_associate"  value="1">是&nbsp;&nbsp;
                                          </label>
                                          <label>
                                            <input type="radio" name="is_associate" value="0" checked/>否
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-2">
                                          <div class="input-group">
                                           <input type="text" name="goods_number" value="" class="form-control" placeholder="数量"/>
                                           <span class="input-group-addon">两</span>
                                          </div>     
                                     </div>
                                     <div class="col-lg-3">
                                        <div class="input-group">
                                          <input type="text" placeholder="销售价格" value="" class="form-control" disabled name="shop_price" aria-label="...">
                                          <div class="input-group-btn">
                                            <button type="button" id="changeShopUnit" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">元/袋<span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                              <li><a href="javascript:;">元/袋</a></li>
                                              <li><a href="javascript:;">元/箱</a></li>
                                            </ul>
                                          </div><!-- /btn-group -->
                                        </div><!-- /input-group -->
                                     </div><!-- /.col-lg-6 -->
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">积分购买金额：</label>
                                    <div class="col-md-3">
                                        <input type="text" value="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="购买该商品时最多可以使用积分" name="integral"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">赠送消费积分数：</label>
                                    <div class="col-md-3">
                                        <input type="text" value="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="购买该商品时赠送积分" name="give_integral"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">标签：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="标签" value="" name="goods_tags"/>
                                    </div>
                                </div>
                        </div>
                        <div class="panel-body pt30" style="display:none;">
                            <div class="form-group">
                                <div class="col-md-6" style="width:100%;height:400px;">
                                    <textarea name="goods_desc"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" rows="10" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pt30" style="display:none;">
                            <div class="form-group images_vcl">
                                <label class="col-sm-2 control-label">商品图片：</label>
                                <div class="col-sm-10 clearfix" id="image_upload" style="max-height:440px;overflow:hidden;">
                                                                   </div>
                                <div class="clearfix" style="color:#999; padding:0px  0 0 210px; clear:both; position:relative; top:-10px;  ">
                                    上传商品图片 要求宽高:640*270，格式:jpg/png，大小:60KB, 最多可上传6张图
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pt30" style="display:none;">
                            <div class="form-group images_vcl">
                                <label class="col-sm-2 control-label">配送范围：</label>
                                <div class="col-sm-10 clearfix">
                                  <table class="table">
                                      <tr>
                                        <td class="w100">配送地区:</td>
                                        <td colspan="3" id="regionCell"></td>
                                      </tr>
                                      <tr>
                                        <td class="w100">&nbsp;</td>
                                        <td colspan="3">
                                          <div class="col-sm-2">
                                              <select class="form-control w100" name="province" id="selProvinces" size="10">
                                                <option value="">请选择...</option>
                                              </select>
                                          </div>
                                          <div class="col-sm-2">
                                              <select class="form-control w100" name="city" id="selCities" size="10">
                                                <option value="">请选择...</option>
                                              </select>
                                          </div>
                                          <div class="col-sm-2">
                                              <select class="form-control w100" name="district" id="selDistricts" size="10">
                                                <option value="">请选择...</option>
                                              </select>
                                          </div>
                                          <div class="col-sm-2">
                                            <input type="button" value="添加" class="btn btn-danger ladda-button" onclick="addRegion()" />
                                          </div>
                                        </td>
                                      </tr>
                                   </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <input type="hidden" name="goods_id" value="0"/>
                                    <button type="button" class="btn btn-primary ladda-button" id="addGoodsBtn">
                                        <span class="ladda-label">提交</span>
                                    </button>
                                    <button type="button" class="btn btn-success ladda-button" id="callBackGoodsBtn">
                                        <span class="ladda-label">返回</span>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible col-md-offset-2 ng-hide" style="width:560px;" role="alert" ng-show="addError">
                                <p ng-bind="addErrorTxt" class="ng-binding"></p>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
<script type="text/javascript">
$(function(){
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="goods_desc"]', {
            allowFileManager : true,
            width : '100%',
            height : '400px;',
            uploadJson : '../../static/kindeditor/php/upload_json.php',
            fileManagerJson : '../../static/kindeditor/php/file_manager_json.php'
        });
    });
    $('.nav-tabs').find('li').click(function(){
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $('.panel-body').siblings('.panel-body').hide().eq(index).show();
    });
    imgUpload();
    $("#changeGoodsUnit,#changeShopUnit").next().find('a').click(function(){
        $(this).parents('ul').prev().html($(this).html()+'<span class="caret"></span>').attr('');
        if( $(this).parents('ul').prev().attr('id') == 'changeGoodsUnit') {
            if($("input[name=is_associate]:checked").val() == 1){
               $("input[name=is_associate]:checked").click();
            } 
        }
    });
    $("input[name=goods_number]").blur(function(){
       var goods_number = parseInt($(this).val());
       if( !isNaN(goods_number) ){
         var goods_price  = $("input[name=goods_price]").val();
         var shop_price  = goods_number*goods_price;
    
         $('input[name=shop_price]').val( shop_price.toFixed(2) );
       }
    });
    $("input[name=is_associate]").click(function(){
       var attr_id = parseInt($(this).val());
       switch(attr_id){
           case 0:
             $(this).parents('.form-group').next().hide();
             break;
           case 1:
             $(this).parents('.form-group').next().show();
             break;
       }
       $(this).parents('.form-group').next().find('.input-group-addon').html($("#changeGoodsUnit").text().split('/')[1]);
    });
    $("#addGoodsBtn").click(function(){
        var goods = {};
        var goods_name = $.trim($("input[name='goods_name']").val());
        if( goods_name == '' ) {
           successMsg('请输入商品名称');
           return false;
        }
        goods['goods_name'] = goods_name;
        var cat_id = parseInt($("select[name='cat_id']").val());
        if( cat_id == 0) {
           successMsg('请选择商品分类');
           return false;
        }
        goods['cat_id'] = cat_id;
        var goods_price = $.trim($("input[name='goods_price']").val())
        if( goods_price == '') {
           successMsg('请输入商品单价价格');
           return false;
        } 
        goods['goods_price'] = goods_price;
        var goods_unit = $("#changeGoodsUnit").text().split('/')[1];
        goods['goods_unit'] = goods_unit;
        
        
        var is_associate = parseInt($("input[name=is_associate]:checked").val());
        
        if( is_associate == 1 ){
           var goods_number = parseInt($('input[name=goods_number]').val());
           if( isNaN(goods_number) ) {
             successMsg('请输入商品组合数量');
             return false;
           }
           var shop_price = goods_number*goods_price;
           goods['goods_number'] = goods_number;
           goods['shop_price']   = shop_price.toFixed(2);
           goods['shop_unit']    = $("#changeShopUnit").text().split('/')[1];
        } else {
           goods['goods_number'] = 1;
           goods['shop_price']   = goods_price;
           goods['shop_unit']    = goods_unit;
        }
        goods['is_associate'] = is_associate;
        
        var give_integral = parseInt($('input[name=give_integral]').val())
        if( isNaN(give_integral) ) {
           give_integral = 0;
        }
        goods['give_integral'] = give_integral;
        
        var integral = parseInt($('input[name=integral]').val())
        if( isNaN(integral) ) {
           integral = 0;
        }
        goods['integral'] = integral;

        var goods_tags = $.trim($("input[name='goods_tags']").val());

        if( goods_tags != '') {
            goods_tags = goods_tags.replace(/,/g, '，');
        }
        goods['goods_tags'] = goods_tags;
        
        $("textarea[name='goods_desc']").val(editor.html());
        
        var goods_desc = $("textarea[name='goods_desc']").val();
        goods['goods_desc'] = goods_desc;
        
        goods['goods_img']       = {};
        goods['goods_id']        = parseInt($("input[name='goods_id']").val());

        if($("input[name='goods_img[]']").length > 1) {
            for(var i=0;i<$("input[name='goods_img[]']").length;i++) {
                goods['goods_img'][i] = $("input[name='goods_img[]']").eq(i).val();
            }
        } else {
            goods['goods_img'][0] = $("input[name='goods_img[]']").val();
        }
        
        $.ajax({
           type:'POST',
           dataType:'json',
           url:'/system/goods/getGoodsParams',
           data:goods,
           success:function(ret){
               successMsg(ret.msg);
           }
        })
        return false;
    });
   $("#callBackGoodsBtn").click(function(){
      window.location = '/system/goods/goodsList';
   });

   ajaxShowRegion('selProvinces',1);

   $("#selProvinces").change(function(){
      var parent_id = parseInt($(this).val());
      $("#selCities").html('<option value="0">请选择</option>');
      $("#selDistricts").html('<option value="0">请选择</option>');
      if(parent_id ==  0){
        return ;
      }
      ajaxShowRegion('selCities',parent_id);
   });

   $("#selCities").change(function(){
      var parent_id = parseInt($(this).val());
      $("#selDistricts").html('<option value="0">请选择</option>');
      if(parent_id ==  0){
        return ;
      }
      ajaxShowRegion('selDistricts',parent_id);
   });
})
/**
 * 添加一个区域
 */
function addRegion()
{
    var selProvince = document.getElementById("selProvinces");
    var selCity     = document.getElementById("selCities");
    var selDistrict = document.getElementById("selDistricts");
    var regionCell  = document.getElementById("regionCell");

    if (selDistrict.selectedIndex > 0)
    {
        regionId = selDistrict.options[selDistrict.selectedIndex].value;
        regionName = selDistrict.options[selDistrict.selectedIndex].text;
    }
    else
    {
        if (selCity.selectedIndex > 0)
        {
            regionId = selCity.options[selCity.selectedIndex].value;
            regionName = selCity.options[selCity.selectedIndex].text;
        }
        else
        {
            if (selProvince.selectedIndex > 0)
            {
                regionId = selProvince.options[selProvince.selectedIndex].value;
                regionName = selProvince.options[selProvince.selectedIndex].text;
            }
            else
            {
                return;
            }
        }
    }

    // 检查该地区是否已经存在
    exists = false;
    if ($("#regionCell").find("input[name='regions[]'][value='"+regionId+"']").length)
    {
       exists = true;
       alertModel('配送地区：'+ regionName +'已存在');
    }
    

    // 创建checkbox
    if (!exists)
    {
      var str = '<div class="nete_p">'+
                  '<div class="badge">' + regionName + '<span class="glyphicon glyphicon-remove" title="删除"></span></div>'+
                  '<input type="hidden" name="regions[]" value="' + regionId + '" />'+
                '</div>';
                                  
      regionCell.innerHTML += str;
      $("#regionCell").find('.badge').find('span').unbind('click');
      $("#regionCell").find('.badge').find('span').bind('click',function(){
        $(this).parents('.nete_p').remove();
      });
    }
}
function ajaxShowRegion(id,parent_id){
   $.ajax({
       type:'POST',
       dataType:'json',
       url:'/system/region/areaList',
       data:{parent_id:parent_id},
       success:function(ret){
          var regionHtml = '<option value="0">请选择...</option>';
          $("#"+id).html(regionHtml);
          if( !ret.apiStatus ) {
             alertModel(ret.msg);
          } else {
             if( ret.data['area_list'].length > 0 ) {
               var regionData = ret.data['area_list'];
               for(var i in regionData) {
                  regionHtml+= '<option value="'+regionData[i]['region_id']+'"> ' + regionData[i]['region_name']+ ' </option>';
               }
             }
          }
          $("#"+id).html(regionHtml);
       }
   });
}
function imgUpload()
{
    var html='<div class="img_wrap" style="float:left; width:200px; height:200px; overflow:hidden; position:relative; margin:0 20px 20px 0">'+
                '<span class="glyphicon glyphicon-remove del" style="position:absolute; right:5px; top:5px; cursor:pointer; font-size:16px; display:none;" title="删除"></span>'+
                '<img class="tmp_image img-thumbnail" src="images/image_empty.png" style="height:200px;width:200px;"/>'+
                '<div class="btn btn-danger" style="width:120px; height:36px; overflow:hidden; position:absolute; top:140px; left:45px;">上传商品图片'+
                    '<input type="file" class="image_file" style="width:120px; height:36px;"/>'+
                '</div>'+
            '</div>';
    var imgwrap=$("#image_upload");
    var index=1;
    imgwrap.append(html);
    
    imgwrap.on({
        change:function(e){
            var _this=e.currentTarget;
            if(_this.className=="image_file"){
                var _parent=$(_this).parents(".img_wrap");
                if(_this.files.length == 0){
                  return false;
                }
                var data = new FormData();
                data.append('Filedata', _this.files[0]);

                $('#image').val('');
                _parent.find(".tmp_image").attr('src', 'images/ing.gif');
                $.ajax({
                    url:'/system/goods/uploadGoodsImage',
                    type:'POST',
                    data:data,
                    cache: false,
                    contentType: false,    //不可缺
                    processData: false,    //不可缺
                    dataType: 'json',
                    success:function(r){
                        _parent.find(".tmp_image").attr('src', 'images/image_empty.png');
                        if ($.trim(r.error) != '') {
                            successMsg(r.error);
                        } else {
                            $(_this).parent().remove();
                            _parent.find('.tmp_image').attr('src', r.url);
                            if(_parent.find('.goods_img_url').length > 0) {
                               _parent.find('.goods_img_url').val(r.img_id);
                            } else {
                               _parent.find('.tmp_image').after('<input class="goods_img_url" type="hidden" name="goods_img[]" value="'+r.img_id+'">');
                            }   
                            imgwrap.find(".del").css("display","block");
                            index++;
                            if(index>8){
                                return false;
                            }
                            imgwrap.append(html);

                        }
                    }
                });
            }
        },
        click:function(e){
            var _this=e.currentTarget;
            if(/del/.test(_this.className)){
                var _parent=$(_this).parents(".img_wrap");
                index--;
                _parent.remove();
                var len=imgwrap.find(".del").length; 
                if(index==8){
                    imgwrap.append(html);
                }
            }
        }
    }, ".image_file, .del");
};
</script>
<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">91批购系统温馨提示</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger btn-sm" id="confirmBtn">确认</button>
      </div>
    </div>
  </div>
</div>
<div id="alertModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">91批购系统温馨提示</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function successMsg(msg)
{
    $('.alert-warning').find('p').html(msg);
    $('.alert-warning').removeClass('ng-hide');
    var timer = null;
    var now = 2;

    timer = setInterval(function(){
       if(now==0) {
          $('.alert-warning').addClass('ng-hide'); 
          clearInterval(timer);
       } 
       
       now--;
    },1000);
}
function errorMsg(obj,msg)
{
    obj.parents('.form-group').addClass('has-error').addClass('has-feedback');
    if(obj.parent().find('span').length == 0 ) {
       obj.after('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
    } else {
       obj.parent().find('span').eq(0).removeClass('glyphicon-ok').addClass('glyphicon-remove');
    }

    if(obj.parent().next().length == 0) {
       obj.parent().after('<div class="help-block has-error error-msg">'+msg+'</div>');
    } else {
       obj.parent().next().html(msg); 
    }
}
function rightMsg(obj) {
    obj.parents('.form-group').removeClass('has-error').removeClass('has-feedback').addClass('has-success').addClass('has-feedback');
    
    if(obj.parent().find('span').length == 0 ) {
       obj.after('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
    } else {
       obj.parent().find('span').eq(0).removeClass('glyphicon-remove').addClass('glyphicon-ok');
    }
    obj.parent().next().remove();
}
function alertModel(msg){
    $('#alertModal').modal({keyboard: false});
    $('#alertModal').find('.modal-body').html(msg);
}
</script>