<extend name="Public/common"/>
<block name="style">
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/base.css" />
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/orders.css" />
</block>
<block name="body">
<script> 
var app_url='__CONTROLLER__'; 
</script>
<div class="content">
	<div class="w_cnt">
	<div class="member_cnt w950">
		<h2 class="member_title ordersTitle">订单信息</h2>
		<div class="orders_content">
		<div class="top_cnt">
			<span class="l"><{$info_tmp['oshop_name']}></span>
			<span class="r">配送方式：宅当家配送</span>
		</div>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th class="first">餐品</th>
				<th width="20%">价格</th>
				<th width="20%">数量</th>
				<th width="20%">小计</th>
			</tr>
			<volist name="info_tmp['OrderList']" id="mo">
				<tr>
					<td class="first"><{$mo['fname']}></td>
					<td>￥<{$mo['fprice']}></td>
					<if condition="$mo['fnum'] gt 1">
						<td><span><b><{$mo['fnum']}>份</span></b></td>
					<else />
						<td><{$mo['fnum']}>份</td>
					</if>
					<td class="order_price_count">￥<{$mo['fprice']*$mo['fnum']}></td>
				</tr>
			</volist>
		</table>
		<ul class="orders_fee_lst">
			<li>配送费用：<span><b>￥<{$sendprc_tmp}></b></span></li>
			<li>订单总价：<span><b>￥<{$sum}></b></span></li>
			<li>支付方式：货到付款</li>
		</ul>
		<ul class="orders_info">
			<li>客户姓名：<{$info_tmp['oname']}></li>
			<li>手机号：<{$info_tmp['otel']}></li>
			<li>配送地址：<{$info_tmp['oaddress']}></li>
			<li>备注：<span><b><{$info_tmp['remark']}></b></span></li>
		</ul>
		<present name="userinfo_tmp">
			<ul class="orders_info_mark">
				<li>标记地址：<span><{$userinfo_tmp['mark_address']}></span></li>
				<li>标记备注：<span><{$userinfo_tmp['mark_info']}></span></li>
			</ul>
			<ul class="orders_info_mark_list">
				<volist name="userorder_tmp" id="od">
					<li><{$key+1}>：商家：<{$od['oshop_name']}></li>
					<li>地址：<{$od['oaddress']}></li>
					<li>电话：<{$od['otel']}></li>
				</volist>
			</ul>
		</present>
		</div>
		<div class="orders_tips">
			<p>1.请保持电话畅通，若号码无效，我们可能会将您的订单设为无效</p>
			<p>2.配送时间将在45分钟内完成。</p>
		</div>
	</div>
	</div>
</div>
</block>