<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>系统用户管理</title>
	<load href="__STATIC__/css/admin_base.css" />
	<load href="__STATIC__/css/admin_page.css" />
	<load href='__STATIC__/js/jquery-1.7.1.min.js'/>
	<script type="text/javascript">
		$(function(){
			$('.nodel').click(function(){
				alert('<{$Think.lang.lan_zyd}>');
				return false;
			});
		});
	</script>
</head>
<body>
<table width="98%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#D6D6D6">
	<tr>
		<td height="27" colspan="13" background="__STATIC__/images/admin/tbg.gif" bgcolor="#E7E7E7">
		<table width="96%" border="0" cellspacing="1" cellpadding="1">
			<tr>
				<td width="40%" style="padding-left:10px;"><b><strong>当前位置：<a href="__CONTROLLER__/index">商家管理</a> >> 食谱类别（<{$shop_name}>）</strong></b> </td>
				<td width="60%" align="right"><b><a href="__CONTROLLER__/foodTypeAdd/shopid/<{$shop_id}>/name/<{$shop_name}>"><u>添加类别</u></a></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr bgcolor="#FBFCE2">
		<td width="10%" height="24" align="center">类别id</td>
		<td width="20%" height="24" align="center">类别名称</td>
		<td width="30%" align="center">所属店家</td>
		<td width="40%" align="center">管理项</td> 
	</tr>
	<foreach name='info_tmp' item='list'>
	<tr bgcolor="#FFFFFF" align="center" class="hover">
		<td width="10%" height="24" align="center"><{$list['id']}></td>
		<td width="20%" height="24" align="center"><{$list['type_name']}></td>
		<td width="30%" align="center"><{$shop_name}></td>
		<td width="40%" align="center">
			<a href="<{:U('forbidden',array('id'=>$list['id']))}>"  class='confirmdel'><u>禁用</u></a> |
			<a href="<{:U('del',array('id'=>$list['id']))}>"  class='confirmdel'><u>删除</u></a>
		</td>
	</tr>
	</foreach>
    <tr bgcolor="#F9FCEF">
		<td height="24" colspan="13" align="center" valign="top">
			<span><{$page}></span>
		</td>
	</tr>

</table>
</body>
</html>